#caja1{
    border: 1px; color: red;
    margin-top: 50px;
    padding-top: 100 px;
}

#caja2{
    margin: 10px 20px 10px 20px;
    border: 1px 10px 10px 30px red;
    border-color: black;
    display: none;
}

li{display: inline;margin:40px}

ul{margin: 40px;}
